[mysqld]
performance_schema=OFF
innodb_buffer_pool_size=128M
innodb_redo_log_capacity=104857600
max_connections=40
skip-name-resolve
skip-log-bin
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
table_open_cache=256
tmp_table_size=16M
max_heap_table_size=16M
default-time-zone='+00:00'
